*{
  box-sizing: border-box ;
  padding: 0;
  margin: 0;
  border: 0;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.header__container{
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container img{
  max-width: 88px;
}

.header__title{
  color: slateblue;
}

.main__container{
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main__button__checkletter{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.used__letters_description{
  margin-top: 24px;
  font-weight: bold;
  color: rgb(126, 114, 201);
  font-size: 12px;
  letter-spacing: normal;
}

.main__letter_used{
  text-align: center;
  word-break: break-all;
  margin-top: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  color: rgb(126, 114, 201);
}




input[type="text"]{
  outline: none;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #6a5acd ;
  font-size: 16px;
  color: slateblue;
  font-weight: bold;
  width: 50%;
}

input[type="text"]::placeholder{
  color: rgb(144, 137, 194);
}

.btn{
  background-color: slateblue;
  border-radius: 12px;
  color: white;
  padding: 12px 24px;
}

a{
  color: transparent;
}

.btn-outline{
  border: 1px solid slateblue;
  background-color: transparent;
  border-radius: 12px;
  color: slateblue;
  padding: 12px 24px;
}


.main__canvas{
  border: 2px solid slateblue;
  border-radius: 12px;
}


.wanted{
  color: transparent;
}

.letter{
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin: 0 8px;
  position: relative;
}



.letter::after{
  content: "";
  position: absolute;
  display: block;
  left: 0;
  height: 2px;
  background-color: slateblue;
  width: 100%;
  min-width: 12px;
}


